* {
  font-family: monospace;
  font-size: 20px;
}

#container {
  height: 100%;
  display: flex;
  align-items: center;     /* vertical centering */
  justify-content: center; /* horizontal centering */
}

.box {
  border-radius: 0px;
  border: 5px solid #000;
  border-bottom: 5px solid #000;
  outline: none;
  margin: 25px 25px 0px 25px;
  padding: 25px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

.box.wrapper {
  text-align: right;
}

.centered {
  text-align: center;
}

.error {
  color: #f00;
  border-color: #f00;
}

.box.text-input {
  margin: 0px;
  text-align: center;
}

.button:hover {
  background-color: #000;
  color: #fff;
}

.button:focus {
  background-color: #000;
  color: #fff;
}

.text-input {
  width: 500px;
}
