<html>
  <head>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
  <link rel="stylesheet" type="text/css" href="/static/main.css">
</html>
