{% extends "base.html" %}
{% block content %}
<div id="container">
  <form action="" method="post" novalidate>

    <div class="box">
      <label for="email">email:</label>
      <input class="text-input box" type="text" id="email" name="email">
    </div>

    <input type="submit" class="box centered button" value="send recovery email">

  </form>
</div>
{% endblock %}
