{% extends "base.html" %}
{% block content %}
<div id="container">
  <form action="" method="post" novalidate>
    {% if error %}
      <div class="box centered error">invalid username or password, try again</div>
    {% endif %}

    <div class="box wrapper">
      <label for="username">username:</label>
      <input class="text-input box" type="text" id="username" name="username">
    </div>

    <div class="box wrapper">
      <label for="password">password:</label>
      <input class="text-input box" type="password" id="password" name="password">
    </div>

    <div>
      <input type="submit" class="box centered button" value="log In">
      <a href="/forgot" class="box centered button">forgot login information?</a>
    </div>

  </form>
</div>
{% endblock %}
