{% extends "base.html" %}
{% block content %}
<div id="container">
  <div>
    <div class="box centered">
      <p>you are currently logged out</p>
    </div>

    <div style="display: flex">
      <a href="/login" class="box centered button">log in</a>
      <a href="/signup" class="box centered button">sign up</a>
    </div>
  </div>
</div>
{% endblock %}
