{% extends "base.html" %}
{% block content %}
<div id="container">
  <form action="" method="post" novalidate>

    {% if errors %}
      <div class="box centered error">
        {% for error in errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    {% if email %}
      <div class="box centered">
        <p>an email has been sent to {{ email }}</p>
        <p>click the link in the email to finish signing up</p>
      </div>
    {% endif %}

    <div class="box wrapper">
      <label for="username">username:</label>
      <input class="text-input box" type="text" id="username" name="username">
    </div>

    <div class="box wrapper">
      <label for="email">email:</label>
      <input class="text-input box" type="text" id="email" name="email">
    </div>

    <div class="box wrapper">
      <label for="password">password:</label>
      <input class="text-input box" type="password" id="password" name="password">
    </div>

    <input type="submit" class="box centered button" value="sign up">

  </form>
</div>
{% endblock %}
